body {
    font-size: 62,5%;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 5px;
}

a {
    color: #e50100;
    text-decoration: none;
}

#kontainerra {
    margin: 0 auto 0 auto;
    width: 666px;
    /*border: 1px solid black;*/
    position: relative;
}

#guztira-taula {
    position: relative;
    text-align: center;
}

#partehartzea_guztira {
    font-weight: bold;
    font-size: 22px;
}

#partehartzea_guztira .ehunekoak {
    font-weight: normal;
    font-size: 24px;
}

#baliogabeak_guztira {
    /*position: absolute;
    top: 370px;
    left: 223px;*/
    font-weight: bold;

}

#baliogabeak_guztira .botoak, #baliogabeak_guztira .ehunekoak {
    font-weight: normal;
}

#bai_guztira {
    position: absolute;
    top: 140px;
    text-align: center;
    left: 30px;
}

#bai_guztira .etiketa {
    color: #009EE3;
    font-size: 32px;
    font-weight: bold;
}

#bai_guztira .ehunekoak {
    font-size: 32px;
}

#bai_guztira .botoak {
    font-size: 28px;
}

#ez_guztira {
    position: absolute;
    top: 100px;
    right: 68px;
    text-align: center;
}

#ez_guztira .etiketa {
    color: #E6205B;
    font-size: 20px;
    font-weight: bold;
}

#ez_guztira .ehunekoak {
    font-size: 20px;
}

#ez_guztira .botoak {
    font-size: 18px;
}

#zuria_guztira {
    position: absolute;
    top: 210px;
    right: 65px;
    text-align: center;
}

#zuria_guztira .etiketa {
    color: #918B53;
    font-size: 20px;
    font-weight: bold;
}

#zuria_guztira .ehunekoak {
    font-size: 20px;
}

#zuria_guztira .botoak {
    font-size: 18px;
}

#guztira-donuts-grafikoa {
    background-image: url("../img/hautetsontzia.png");
    background-repeat: no-repeat;
    background-position: 51% 47%;
}

.azalpena {
    text-align: center;
    color: #666;
}

#mapa-kontainerra {
    position: relative;
    margin-top: 40px;
}

#kredituak {
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    left: 120px;
    position: absolute;
    top: 330px;
    width: 225px;
    text-align: center;
}

#mapa-argia-logoa {
    width: 100px;
}

#mapa-iametza-logoa {
    width: 100px;
    margin-left: 15px;
}

#mapa {
    display: inline-block;
}

#unitate-izena {
    position: absolute;
    top: -20px;
    right: 10px;
    width: 590px;
    color: #777777;
    font-size: 2em;
    text-align: center;
}

.udalerriak, .eskualdeak, .probintziak, .vegueriak {
    fill: #eee;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}

.udalerriak.aktibo, .eskualdeak.aktibo, .probintziak.aktibo, .vegueriak.aktibo {
    fill: #E50000;
}

/*.udalerriak:hover, .eskualdeak:hover, .probintziak:hover, .vegueriak:hover {
    fill: #E50000;
}*/

.eskualdeak-mugak, .probintziak-mugak, .vegueriak-mugak {
    fill: none;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}

.udalerriak-mugak {
    fill: none;
    stroke: #777;
    stroke-dasharray: 2,1;
    stroke-linejoin: round;
}

.kanpo-mugak {
    fill: none;
    stroke: #777;
    stroke-width: 2px;
    stroke-linejoin: round;
}

#datuak {
    position: absolute;
    top: 225px;
    right: 12px;
    color: #777777;
}

#datuak .kolorea {
    width: 15px;
}

#datuak .mota {
    padding: 0 0 0 5px;
    width: 70px;
}

#datuak .botoak {
    width: 80px;
    text-align: right;
}

#datuak .ehunekoak {
    width: 65px;
    text-align: right;
}

#vegueria-grafikoa {
    position: absolute !important;
    right: -10px;
    top: 35px;
}

#vegueriak-taula {
    margin: 50px auto;
}

#vegueriak-taula th {
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 10px 6px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #fff;
}

#vegueriak-taula th.bai {
    background-color: #009EE3;
}

#vegueriak-taula th.ez {
    background-color: #E6205B;
}

#vegueriak-taula th.zuria {
    background-color: #918B53;
}

#vegueriak-taula th.baliogabeak {
    background-color: #DB9A16;
    font-size: 14px;
    border-right: none;
}

#vegueriak-taula tr td:first-child {
    font-weight: bold;
    text-align: left;
    border-left: 1px solid #ccc;
    padding-left: 10px;
}

#vegueriak-taula tr td {
    border-right: 1px solid #ccc;
    padding-right: 5px;
    padding-left: 5px;
}

#vegueriak-taula tr td {
    font-size: 13px;
    text-align: right;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}
